# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
*.log*

# prevent accidental npm install when we use yarn
package-lock.json
ESLINT-ERRORS.log*
.vscode
yarn.lock
